$primary: #0F52BA;
$on-primary: #FFFFFF;
$background: #FFFFFF;
$on-background: #2C2C2C;
$on-background-variant: #000000;
$secondary-background: #373737;
$on-secondary-background: #FFFFFF;
$black-background: #000000;